<div class="container">
  <div class="alert alert-danger" role="alert" ng-show="errorMessage">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ errorMessage }}
  </div>

  <form class="form form-profile">
    <h2 class="form-heading">Profile</h2>

    <input type="text" id="first-name" class="form-control" 
          placeholder="First name" autofocus ng-model="user.firstName" />

    <input type="text" id="last-name" class="form-control" 
          placeholder="Last name" ng-model="user.lastName" />

    <input type="text" id="primary-phone" class="form-control" 
          placeholder="primary-phone" ng-model="user.primaryPhone" />
    <input type="text" id="secondary-phone" class="form-control" 
          placeholder="secondary-phone" ng-model="user.secondaryPhone" />

    <input type="text" id="address" class="form-control" 
          placeholder="address" ng-model="user.address" />
    <div class="form-inline">
      <div class="form-group">
        <input type="text" id="city" class="form-control" 
              placeholder="city" ng-model="user.city" />
      </div>
      <div class="form-group">
        <input type="text" id="state" class="form-control" 
              placeholder="state" ng-model="user.state" />
      </div>
      <div class="form-group">
        <input type="text" id="zip" class="form-control" 
              placeholder="zip" ng-model="user.zip" />
      </div>
    </div>


    <input type="text" id="password" class="form-control" 
          placeholder="Password" ng-model="user.password" />

    <input type="text" id="confirm-password" class="form-control" 
          placeholder="Confirm password" ng-model="user.confirmPassword" />

    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group">
        <button class="btn btn-lg btn-primary" type="submit">Update</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-lg btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>

